@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
#theme-toggle:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}

.skill-tag {
  @apply mr-1 mb-1 inline-block rounded px-1.5 py-0.5 text-xs;
}
